body{
    text-align: center;
}
br{
   height: 10px; 
}
.btn-succss:hover{
   background-color: orange;
}
canvas{
 animation-name: sample;
 animation-duration:4s ;
    animation-iteration-count:infinite;  
}
@keyframes sample{
from{box-shadow:1px 1px 35px yellow ;}
to{box-shadow: 1px 1px 35px orangered;}
}